.error {
    color: red;
    font-size: 0.9em;
}

form {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
}

input[type="text"], input[type="email"], input[type="file"], select {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}